* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Poppins", sans-serif;
  }
  :root {
    --main-color: gray;
    --light-gray: rgb(238, 238, 238);
  }
  /* index : NAVBAR */
  nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--main-color);
    height: 100px;
  }
  /* Style du logo */
  /* seulement les enfants directs " > " alors que " " = TOUT */
  nav > a {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
  }
  nav img {
    height: 80px;
    padding: 5px;
  }
  
  nav ul {
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
  nav ul li {
    background-color: var(--light-gray);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    border-radius: 3px 5px 0px 0px;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  /* -------------------------------------view : listFilms------------------------------------- */

/* 
/* Card container styles */
.movie-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card styles */
.movie-card {
  width: 600px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.movie-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Title styles */ 
.movie-card span:first-child {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-card span:not(:first-child) {
  display: block;
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.release-date{
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}



/*----------------- view listActor et listDirector et listCastings --------------------------*/
.movie-card-person {
  width: 100%;
  max-width: 600px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.movie-card-person:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Title styles */
.movie-card-person span:nth-child(-n+2) {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Genre and year styles */
.movie-card-person span:not(:nth-child(-n+2)) {
  display: block;
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}



/*--------- DETAIL VIEW ----------------- */ 
.movie-card-detail {
	width: 100%;
	max-width: 600px;
	margin: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease;
  }
  
  .movie-card-detail:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Title styles */
  .movie-card-detail span:first-child {
	display: block;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  /* Genre and year styles */
  .movie-card-detail span:not(:first-child) {
	display: block;
	font-size: 18px;
	color: #666;
	margin-bottom: 5px;
  }
/*--------- BOUTONS / MESSAGES / ERREURS ----------------- */ 

.button {
	background-color: lightcoral;
	border-radius: 3px;
	padding: 5px;
}
.button:hover {
	background-color: rgb(251, 84, 84);
	border-radius: 3px;
	padding: 5px;

}

/*---------- SIMPLE LIST -------------------------------*/

.movie-card-detail-simple-list {
	width: 100%;
	max-width: 600px;
	margin: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease;
  }
  
  .movie-card-detail-simple-list {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  